
.DS_Store

Tetris/bin/Debug/net6.0/Tetris.dll

Tetris/bin/Debug/net6.0/Tetris.pdb

Tetris/obj/Debug/net6.0/ref/Tetris.dll

Tetris/obj/Debug/net6.0/refint/Tetris.dll

Tetris/obj/Debug/net6.0/Tetris.dll

Tetris/obj/Debug/net6.0/Tetris.pdb

.vs/Tetris/xs/project-cache/

*.cache

.vs/Tetris/xs/
